* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.header-titulo {
  background-color: cadetblue;
  font-size: 2rem;
  color: azure;
  text-align: center;
  padding: 1rem;
}

.bar-nav {
  display: flex;
  justify-content: space-around;
  background-color: azure;
  font-size: 1rem;
  color: cadetblue;
  text-align: center;
  padding: 1rem;
}

.bar-nav a {
  text-decoration: none;
  color: cadetblue;
}

.bar-nav a:hover {
  color: rgb(23, 67, 69);
}

.main-title {
  font-size: 2rem;
  color: rgb(77, 80, 80);
  text-align: center;
  padding: 1rem;
}

.main-subTitle {
  text-align: left;
  font-size: 1.5rem;
}

.main-conte {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: azure;
  font-size: 1rem;
  color: cadetblue;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
}

.main-conte li {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
}

.main-conte ul {
  padding: 1rem;
}

.conteButton {
  display: flex;
  align-items: flex-end;
}

.main-conte-add {
  display: flex;
  justify-content: space-around;
  background-color: azure;
  font-size: 1rem;
  color: cadetblue;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}

.main-conte-addForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 4rem;
  margin: 2rem;
}

.main-conte-addForm label {
  padding: 0.5rem;
  margin: 0.5rem;
}

.main-conte-addForm input {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  .main-conte-add {
    display: flex;
    flex-direction: column;
  }
}